<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" >
  </head>
  <body>
  <div id="content"> 
    <h1>Elisabeth Alderson</h1>
    <img src="https://a370ce70-0fa7-4279-b42c-be75f26c6499-00-3fassau4kky8o.kirk.replit.dev/static/media/ElisabethStockPhoto.jpg" alt="Elisabeth Stock Photo">
    <h2>About Elisabeth</h2>
    <p>
      Elisabeth Alderson is a beautiful stay at home mom to a baby boy, Whitaker. 
    </p>
    <h2> Other Links</h2>
    <p> 
      <a href="https://www.tiktok.com/@elisabethhalderson">
        <img src="https://a370ce70-0fa7-4279-b42c-be75f26c6499-00-3fassau4kky8o.kirk.replit.dev/static/media/TiktokFavicon.png" class="mini-logo" alt="Tiktok">
      </a>
      <a href="https://www.pinterest.com/elisabethhalderson/">
        <img src="https://a370ce70-0fa7-4279-b42c-be75f26c6499-00-3fassau4kky8o.kirk.replit.dev/static/media/PinterestFavicon.png" class="mini-logo" alt="Pinterest">
      </a>
      <a href="https://www.instagram.com/elisabethhalderson/?locale=en_US%2Cen_GB%2Cen_US%2Cen_GB&hl=en">
        <img src="https://a370ce70-0fa7-4279-b42c-be75f26c6499-00-3fassau4kky8o.kirk.replit.dev/static/media/InstagramFavicon.png" class="mini-logo" alt="Instagram">
      </a>
    </p>
    <button>Contact Me</button>
  </div>
  <div>
    <a class="mini-logo" href"=https://a370ce70-0fa7-4279-b42c-be75f26c6499-00-3fassau4kky8o.kirk.replit.dev/static/media/PinterestFavicon.png" 
  </div>
  </body>
</html>