<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" >
  </head>
  <body>
  <div id="content"> 
    <h1>Elisabeth Alderson</h1>
    <img src="https://a370ce70-0fa7-4279-b42c-be75f26c6499-00-3fassau4kky8o.kirk.replit.dev/static/ElisabethStockPhoto.jpg" alt="Elisabeth Stock Photo">
    <h2>About Elisabeth</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <h2> Other Links</h2>
    <p> 
      This is a link to <a href="http://www.pinterest.com">Pinterest</a></p>
    <button>Contact Me</button>
  </div>
  </body>
</html>