<!DOCTYPE html>
<html>
  <head>
    <title>Social</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" >
  </head>
  <body>
  <div id="content"> 
    <h1>Social Media Links</h1>
    <img src="https://a370ce70-0fa7-4279-b42c-be75f26c6499-00-3fassau4kky8o.kirk.replit.dev/static/media/SocialMedia.jpg" alt="Social Media Photo">
    <h2>Socials</h2>
    <p>
      Pinterest: <a href="https://www.pinterest.com"><img src= ></a>
    </p>
    <button>Contact Me</button>
  </div>
  </body>
</html>